@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: rgb(18, 27, 36);
    color: aliceblue;

}

/*Estilo de la barra de navegación*/
.navBar {
    background-color: rgb(31, 47, 63);
    color: #F26680;
    padding: 10px 40px 10px 40px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 70px;
    position: absolute;
}

.navBar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    flex: 1;
    height: 50px;
}

.items {
    padding: 0 25px;
    display: inline-flex;
    gap: 30px;
}

.items.show {
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    display: list-item;
    background: rgb(31, 47, 63);
    transition: top .4s;
}


.items a {
    text-decoration: none;
    font-size: 23px;
    color: #F26680;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0 12px;
    transition: all 0.3s ease 0s;
}

.items a:hover {
    color: #c51f5d;
}

.search-icon {
    height: 40px;
    width: 50%;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.search-icon input {
    height: 100%;
    width: 90%;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.search-icon i {
    height: 100%;
    width: 10%;
    line-height: 40px;
    text-align: center;
    color: black;
    background: #F26680;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
}

.search-icon i:hover {
    background: #c51f5d;
}

.boton {
    font-size: 23px;
    flex: 1;
    padding: 0 40px;
    display: none;
}

.boton i {
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover i:before {
    content: '\f00d';
}

@media screen and (max-width:1280px) {
    .items a {
        font-size: 20px;
        gap: 10px;
    }

}

@media screen and (max-width:1200px) {
    .items a {
        font-size: 17px;
        gap: 10px;
    }

}

@media screen and (max-width:1100px) {
    nav {
        padding: 9px 40px 9px 0;
    }

    .boton {
        display: block;
    }

    .items {
        position: fixed;
        top: -220px;
        right: 0;
        width: 100%;
        display: list-item;
        background: #222222;
        transition: top .4s;
        z-index: 1;
    }

    .items li {
        text-align: center;
        line-height: 30px;
        margin: 30px 0;
    }

}