@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    margin: 0;
    text-decoration: none;
    font-size: 23px;
    list-style: none;
}

body {
    flex-direction: column;
    color: aliceblue;
    background-image: url(../images/gradiente.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*-----HEADER ELEMENTS-----*/

header {
    color: aliceblue;
    min-height: 600px;


}

.header ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*Logo style*/
.header ul li.logo {
    margin-top: 5px;
    flex: 1;
}

.header ul li.logo img {
    cursor: pointer;
    margin-right: auto;
    margin-left: 10px;
    height: 50px;
    margin-top: 5px;
    width: auto;
}

.header-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;

}

.stars {
    margin-top: 200px;
    font-size: 20px;
}

.description {
    font-family: sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 10px;

}

/*-----HEADER NAVBAR ELEMENTS-----*/

.navbar {
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
}

.login-button {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
}

.login-button a {
    color: #F26680;
}

.signup-button {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
}

.signup-button a {
    color: #c51f5d;
}

a:hover {
    color: aliceblue;
}



/*-----SECTION ELEMENTS-----*/

section {
    min-height: 500px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 87%;
}

article {

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: showSelection;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;


    margin-bottom: 100px;
}

@keyframes showSelection {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}


.container {
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}

.container img {
    height: 260px;
    width: 180px;
    object-fit: cover;
    width: 180px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    transition: all ease-in-out 0.5s;

    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.container img:hover {
    /*filter: brightness(0.5);*/
    width: 200px;
    height: 280px;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}