@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
}

body {
    background-color: #222222;
    color: rgb(0, 0, 0);
}

.header {
    background: #222222;
    padding: 5px 4% 5px 2.5%;
    align-items: center;
    font-family: "Nunito", sans-serif;
}

.header ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*Estilo del logo*/
.header ul li.logo {
    flex: 1;
}

.header ul li.logo img {
    cursor: pointer;
    margin-right: auto;
    height: 50px;
    margin-top: 5px;
    width: auto;
}

/*Estilo de opciones (Listas, Perfil, boton) */
.header ul div.items {
    display: inline-flex;
    margin-left: 300px;
    align-items: center;
}

.header ul div.items a {
    text-decoration: none;
    font-size: 25px;
    padding: 0 12px;
    color: antiquewhite;
}

.header ul div.items a:hover {
    color: burlywood;
}

/*Estilo de la barra de busqueda*/
.header ul .search-icon {
    height: 40px;
    width: 500px;
    min-width: 150px;
    display: flex;
    background: aliceblue;
    border-radius: 5px;
}

.header ul .search-icon input {
    height: 100%;
    width: 480px;
    border: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

.header ul .search-icon .icon {
    cursor: pointer;
    height: 100%;
    padding: 7px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    background: antiquewhite;
    border-radius: 0 5px 5px 0;
}

.header ul .search-icon .icon:hover {
    background: burlywood;
}

.header ul .search-icon .icon i {
    color: #222222;
    font-size: 25px;

}

.header ul .btn button {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    align-items: center;
    font-weight: 700;
    color: black;
    padding: 8px 5px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn button:hover {
    background-color: antiquewhite;
    color: crimson;
    transform: scale(1.1);
}


/*-----ELEMENTOS DE SECTION-----*/

main {
    min-height: 500px;
    margin: 60px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    margin-top: 100px;
}

.wrapper {
    position: relative;
    max-width: 1085px;
}

.wrapper button {
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
    background: #000000;
    text-align: center;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-15px);
}

.wrapper button:first-child {
    left: -22px;
}

.wrapper button:last-child {
    right: -22px;
}

.borde {
    overflow: hidden
}

.contenedor {
    transition: all ease-in-out 0.5s;
    white-space: nowrap;
    display: flex;
    gap: 5px;
    overflow: hidden;

}

.contenedor img {
    height: 260px;
    width: 180px;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    justify-content: center;
}

.contenedor img:hover {
    /*filter: brightness(0.5);*/
    width: 200px;
    height: 280px;
}