@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/*CAMBIAR COLORES*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 10;
}

body{
    background:aliceblue;
}

.header{
    background: #222222;
    padding: 5px 4% 5px 2.5%;
    align-items: center;
    font-family: "Nunito", sans-serif;
}

.header ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*Estilo del logo*/
.header ul li.logo{
    flex:1;
}

.header ul li.logo img{
    cursor: pointer;
    margin-right: auto;
    height: 50px;
    margin-top: 5px;
    width: auto;
}

/*Estilo de opciones (Listas, Perfil, boton) */
.header ul div.items{
    display: inline-flex;
    margin-left: 300px;
    align-items: center;
}

.header ul div.items a{
    text-decoration: none;
    font-size: 25px;
    padding: 0 12px;
    color: antiquewhite;
}

.header ul div.items a:hover{
    color: burlywood;
}

/*Estilo de la barra de busqueda*/
.header ul .search-icon{
    height: 40px;
    width: 500px;
    min-width: 150px;
    display: flex;
    background: aliceblue;
    border-radius: 5px;
}

.header ul .search-icon input{
    height: 100%;
    width: 480px;
    border: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px ;
}

.header ul .search-icon .icon{
    cursor: pointer;
    height: 100%;
    padding: 7px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    background:antiquewhite;
    border-radius: 0 5px 5px 0;
}

.header ul .search-icon .icon:hover{
    background:burlywood;
}

.header ul .search-icon .icon i{
    color: #222222;
    font-size: 25px;

}

.header ul .btn button{
    width:40px;
    height: 40px;
    margin-left: 20px;
    align-items: center;
    font-weight: 700;
    color:black;
    padding: 8px 5px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn button:hover{
    background-color: antiquewhite;
    color: crimson;
    transform: scale(1.1);
}


/*Estilo informacion pelicula*/
.info-pelicula{
    width: 90%;
    margin: 40px 5% 0 5%;
    display: flex;
    gap: 50px;
    font-family: "Gowun Batang", serif;
}

.info-pelicula img{
    height: 400px;
}

.titulo-pelicula{
    font-size: 50px;  
}

.info-pelicula ul{
    list-style: none;
    padding: 0;
}


.columna-1{
    width: 20%;
}

.columna-1 h3{
    padding-top: 10px;
}

.calificacion{
    margin-top: 10px;
    align-items: center;
    display:inline-block;
}

.columna-1 i{
    color: gold;
    display: inline-block;
    vertical-align: top; 
    font-size: 25px;
}



.columna-2{
    width: 50%;
}

.columna-2 h3{
    padding-top: 10px;
}



.columna-3{
    width: 30%;
    display:flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-botones{
    display: flex;
    background-color: beige;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 25%;
    margin-bottom: 20px;
    margin-left: 40px;
}

.button-row{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 85%;
}

.boton1{
    cursor: pointer;
    width: 40%;
    background: none;
    border: none;
    transition: all 0.3s ease 0s;
}

.boton1:hover{
    color: crimson;
    transform: scale(1.1);
}

.boton2{
    cursor: pointer;
    width: 100%;
    height: 40px;
    background:none;
    transition: all 0.3s ease 0s;
    border: 1px;
    margin-top: 25px;
}
.boton2:hover{
    background-color: crimson;
}

#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.encabezado{
    letter-spacing: 1px;
    margin: 20px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado span{
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffffff;
    padding: 10px 20px;
}










