@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
}



/*-----ELEMENTOS DE SECTION-----*/

section {
    min-height: 500px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-top: 100px;
    margin-left: 40px;
}

.contenedor {
    white-space: nowrap;
    display: flex;
    gap: 5px;
    overflow: hidden;
    scroll-behavior: smooth;
}



.contenedor img {
    height: 260px;
    width: 180px;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    justify-content: center;
    padding: 2px;
    cursor: pointer;
}

.contenedor img:hover {
    /*filter: brightness(0.5);*/
    width: 200px;
    height: 280px;
}

.wrapper {
    position: relative;
    max-width: 1150px;
}

.wrapper i {
    height: 40px;
    width: 40px;
    color: #000;
    background: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-15px);
}

.wrapper i:first-child {
    left: 22px;
}

.wrapper i:last-child {
    right: -22px;
}